<footer>
    <div class="w-full bg-gray-800 text-white py-4 text-center">
        <p>&copy; 2026 Fundación Transformando Vidas. Todos los derechos reservados.</p>

        <h1 class="text-lg font-bold mb-2">Sigue nuestro trabajo</h1>
        <ul class="flex justify-center space-x-4">
            <li><a href="#" class="text-gray-400 hover:text-gray-200">Facebook</a></li>
            <li><a href="#" class="text-gray-400 hover:text-gray-200">Twitter</a></li>
            <li><a href="#" class="text-gray-400 hover:text-gray-200">Instagram</a></li>
            <li><a href="#" class="text-gray-400 hover:text-gray-200">TikTok</a></li>
        </ul>
    </div>


</footer>