<header class="fixed w-full z-50 top-0 left-0">
  <nav class="bg-white border-gray-200 px-5 lg:px-6 py-5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-7xl">
      <!-- Logo -->
      <a href="#" class="flex items-center">
        <img src="/logo.jpg" class="mr-3 h-3 sm:h-9" alt="Logo" />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-gray-900"
        >
        </span>
      </a>

      <!-- Right buttons -->
      <div class="flex items-center lg:order-2">
        <a
          href="#"
          class="bg-red-500 text-white hover:bg-red-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 mr-2"
        >
          ¡Aplicar a una beca!
        </a>
        <a
          href="#"
          class="bg-blue-500 text-white hover:bg-blue-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 mr-2"
        >
          Quiero Apoyar
        </a>

        <!-- Mobile button -->
        <button
          type="button"
          class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:ring-2 focus:ring-gray-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-6 h-6"
            fill="#9CA3AF"
            viewBox="0 0 20 20"
          >
            <path
              fill="#6B7280"
              d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
            ></path></svg
          >
        </button>
      </div>

      <!-- Menu -->
      <div class="hidden w-full lg:flex lg:w-auto lg:order-1">
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
        >
          <li>
            <a href="/" class="block py-2 text-primary-700 lg:p-0">
              Conoce a FTV
            </a>
          </li>
          <li>
            <a
              href="/nosotros"
              class="block py-2 text-gray-700 hover:text-primary-700 lg:p-0"
            >
              Nosotros
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 text-gray-700 hover:text-primary-700 lg:p-0"
            >
              Programas
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 text-gray-700 hover:text-primary-700 lg:p-0"
            >
              Logros
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 text-gray-700 hover:text-primary-700 lg:p-0"
            >
              Involucrate
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
