---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter } from "astro:transitions";
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="icon" href="/favicon.ico" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600;14..32,700;14..32,800&family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<meta
		name="description"
		content="Fundación Transformando Vidas en Guatemala. Apoyamos educación, desarrollo comunitario y oportunidades para jóvenes."
		/>
		<title>Fundación Transformando Vidas</title>

		<meta property="og:title" content="Transformando Vidas" />
		<meta property="og:description" content="Fundación en Guatemala..." />
		<meta property="og:image" content="/images/logo.jpg" />
		
		<ClientRouter />
	</head>

	<body class="pt-24 bg-white font-sans text-primary-950 antialiased">
		<NavBar />
		<slot />
		<Footer />
	</body>

	<script>
		import { runApp } from "../scripts/main.js";

		const run = () => {
			window.requestAnimationFrame(() => {
			runApp();
			});
		};

		run();

		document.addEventListener("astro:page-load", run);
		document.addEventListener("astro:after-swap", run);
	</script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>